[user]
	email = haris.alic@students.fhnw.ch
	name = Haris Alic
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/441438abd1ac652551dbe4d408dfcec8a499b8bf/node /tmp/vscode-remote-containers-ee9dfe02-d06c-4d46-a14f-19e871933e2e.js git-credential-helper $*; }; f"
